*{
    scroll-behavior: smooth;
    /* transition: 0.5s; */
}
body{
    margin: 0;
    padding: 0;
}
nav{
    /* border: 2px solid blueviolet; */
    padding:0.5vmax;
    display: flex;
    justify-content: space-between;
    background-color:#272a3c;
    color:#ee4e0a;
    position: sticky;
    top:0%;
    width:100%;
    z-index: 10000;
}
.left>img{
    /* border:1px solid red; */
    width:51%;
    /* font-size: 3vw; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* font-weight: bolder; */
}
.right{
    /* border:1px solid green; */
    width:50%;
    font-size: 2vw;
    display: flex;
justify-content:space-evenly;
    ;
}
.right>a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(37, 222, 9); */
    padding:7px;
    transition: 0.1s;
}
.right>a:hover{
    border-bottom: 2px solid#ee4e0a;
    color:#ee4e0a;
}
/* -------------------------------------------------------------------------> */
.home{
    background-image: url('space.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width:100vw;
}
#homecontent{
    /* border: 2px solid black; */
    /* height: 55vmax; */
    width: 36vw;
    margin-left: 60%;
    margin-top: 11%;
    position: absolute;
    color:white;
    display: fleX;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#homecontent>h1{
    color: #ee4e0a;
    font-size: 4vmax;
    /* border: 2px solid red; */
    position: absolute;
    top: -5vmax;
    /* font-family:Arial, Helvetica, sans-serif; */
}
#homecontent>p{
    font-size:128.5%;
    /* border: 2px solid greenyellow; */
    position: absolute;
    top: 11vmax;

}
#homecontent>h2{
    /* border: 2px solid red; */
    font-size: 2vmax;
    position: absolute;
    top: 14vmax;
}
#homecontent>h3{
    /* border: 2px solid greenyellow; */
    font-size: 1.7vmax;
    position: absolute;
    top:22vmax;
}
.btn{
    /* border: 2px solid red; */
    position: absolute;
    top:18vmax;
}
.btn>a>button{
      width:15vw;
      padding: 0.7vw;
      border-radius: 1.5vw;
      font-weight: bold;
      font-size: 1.3vmax;
      /* color: brown; */
      border: none;
      cursor: pointer;
}
.btn>a>button:hover{
    background-color: #ee4e0a;
}
/* -----------------------------------------------------------------------> */
.btn-download{
    /* border: 2px solid red; */
    /* margin: 2vmax; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: -20px;
}
.btn-download>a{
    width: 190px;
    /* height: 50px; */
    border-radius: 1.5vw;
    border: none;
    cursor: pointer;
}
.btn-download>a>img{
    width:100%;
}
footer {
    background-color: #003366;
    color: #fff;
    padding: 11px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
/* ------------------------------------------------------------------------------------------------------- */

